.App-header {
    /*background-color: rgb(166, 100, 50);*/
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.App-logo {
    margin-left: 15px;
    height: 45px;
    pointer-events: none;
}

.App-title {
    font-weight: bold;
    opacity: 0.8;
    flex: 1;
    text-align: start;
    margin-left: 6px;
    color: beige;
    font-size: 30px;
}

.logout {
    font-size: 13px;
    height: 20px;
    margin-right: 10px;
    background: linear-gradient(0.8turn, rgb(245, 142, 110),rgb(255, 197, 179) 50%, rgb(245, 142, 110));
    border: 0px;
}
